.main {
  background: #fff;
  height: 100vh;

  .form {
    padding: 48px 72px;
    border-radius: 14px;
    box-shadow:
      0 0 60px rgba(0, 102, 255, 0.25),
      0 0 120px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .formInput {
    width: 300px;
    background: none;
    color: black;
    padding: 7px 5px;
  }

  .btn {
    background-color: #ff6633;
  }
}
