.main {
  margin: 0;
  min-height: 100vh;
  background-image: url(../../../public/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .form {
    padding: 48px 72px;
    border-radius: 14px;
    box-shadow: 0 0 60px rgba(0, 102, 255, 0.25), 0 0 120px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .formInput {
    width: 300px;
    background: none;
    color: white;
    padding: 7px 5px;
  }
}
