.wrapper {
  background: #f4f4f2;
  padding-bottom: 40px;
}

.title {
  color: #414141;
  font-size: 24px;
  padding: 24px 60px;
}

.imgWrapper {
  width: 570px;
  height: 496px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.blockRightTitle {
  font-size: 22px;
  font-weight: 900;
  color: #414141;
}

.blockRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.btn {
  background-color: #ff6633;
  color: #fff;
  padding: 24px 70px;
}

.text {
  width: 376px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
}

.pText {
  width: 400px;
}
