.cart {
  background: #f3f2f1;
  height: 100vh;
}

.title {
  color: #414141;
}

.main {
  margin: 70px 0 24px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;

  .rightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .imgWrapper {
    width: 80px;
    height: 60px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .desc {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;

    h5 {
      color: #414141;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      color: #606060;
      b {
        padding-right: 10px;
        color: #414141;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }

  .leftWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    .quantityWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      background-color: #70c05b;
      border-radius: 5px;
      padding: 0 10px;

      button {
        font-size: 20px;
        color: #fff;
        padding: 8px;
        background: none;
        border: none;
      }

      h4 {
        color: #fff;
        font-size: 24px;
        background: none;
      }
    }
    h5 {
      color: #414141;
      font-size: 22px;
    }
  }
}

.left {
  width: 272px;
  // margin: 0 auto;
}
