.select {
  background-color: #70c05b;
  border: none;
  color: green;
  padding: 5px 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: #414141;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  background-color: #fff;
}

.inp {
  max-width: 375px;
  border: 1px solid #70c05b;
  border-radius: 5px;
}

.imgUser {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.userWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  h4 {
    color: #232323;
    font-weight: 200;
  }
}

.icon {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #000;

  svg {
    font-size: 24px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .count {
    position: absolute;
    top: -8px; // смещение сверху
    right: -8px; // смещение справа
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
